<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysCompilerConfigMapper">

    <resultMap type="sysCompilerConfig" id="SysCompilerConfigResult">
        <id     property="id"                 column="id"               />
        <result property="className"          column="class_name"       />
        <result property="classFullName"      column="class_full_name"      />
        <result property="sourceCode"         column="source_code"          />
        <result property="delFlag"            column="del_flag"              />
        <result property="status"            column="status"              />
        <result property="createBy"           column="create_by"             />
        <result property="createTime"         column="create_time"           />
        <result property="updateBy"           column="update_by"             />
        <result property="updateTime"         column="update_time"           />
        <result property="remark"             column="remark"                />
    </resultMap>

    <sql id="selectCompilerConfigVo">
        select id, class_name, class_full_name, source_code, status, del_flag, create_by, create_time, update_by, update_time, remark
        from sys_compiler_config
    </sql>

    <select id="selectCompilerConfigList" parameterType="sysCompilerConfig" resultMap="SysCompilerConfigResult">
        <include refid="selectCompilerConfigVo"/>
        where del_flag = '0'
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by id
    </select>

    <select id="selectById" parameterType="Long" resultMap="SysCompilerConfigResult">
        <include refid="selectCompilerConfigVo"/>
        where id = #{id}
    </select>

    <insert id="insertCompilerConfig" parameterType="sysCompilerConfig" useGeneratedKeys="true" keyProperty="id">
        insert into sys_compiler_config(
        <if test="className != null and className != ''">class_name,</if>
        <if test="classFullName != null and classFullName != ''">class_full_name,</if>
        <if test="sourceCode != null and sourceCode != ''">source_code,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="status != null and status != ''">status,</if>
        create_time
        )values(
        <if test="className != null and className != ''">#{className},</if>
        <if test="classFullName != null and classFullName != ''">#{classFullName},</if>
        <if test="sourceCode != null and sourceCode != ''">#{sourceCode},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="status != null and status != ''">#{status},</if>
        sysdate()
        )
    </insert>

    <update id="updateCompilerConfig" parameterType="sysCompilerConfig">
        update sys_compiler_config
        <set>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="classFullName != null and classFullName != ''">class_full_name = #{classFullName},</if>
            <if test="sourceCode != null and sourceCode != ''">source_code = #{sourceCode},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCompilerConfigById" parameterType="Long">
        update sys_compiler_config set del_flag = '2' where id = #{id}
    </delete>

</mapper>